@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --color-barra-lateral: rgb(255,255,255);
    --color-texto: rgb(0,0,0);
    --color-texto-menu: rgb(134,136,144);
    --color-boton:rgb(0,0,0);
    --color-boton-texto: rgb(255,255,255);
    --color-menu-hover: rgb(238,238,238);
    --color-menu-hover-texto: rgb(0,0,0);
    --color-linea:rgb(0,0,0);
    --color-base: rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);
    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(255,214,10);
    --color-scroll-hover-text:rgb(0,0,0);
}
.dark-mode{
    --color-barra-lateral: rgb(44,45,49);
    --color-texto: rgb(255,255,255);
    --color-texto-menu: rgb(110,110,117);
    --color-boton:rgb(255,255,255);
    --color-boton-texto: rgb(0,0,0);
    --color-menu-hover: rgb(0,0,0);
    --color-menu-hover-texto: rgb(238,238,238);
    --color-linea:rgb(71,70,78);
    --color-base: rgb(255,214,10);
    --color-switch-circulo:rgb(255,255,255);
    --color-scroll:rgb(68,69,74);
    --color-scroll-hover:rgb(255,214,10);
    --color-scroll-hover-text:rgb(0,0,0);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
 
    font-family: "Outfit", sans-serif;

}

body{
    border: 0px solid red;
    height: 100vh;
    width: 100%;
    background-color: var(--color-barra-lateral);
}

/*  menu   */
.menu{
    border: 0px solid red;
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100 ;
}




/* barra lateral*/
.barra-lateral{
    border: 0px solid chartreuse;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
    z-index: 50;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

/* .barra-lateral > div:nth-child(1), */
/* .barra-lateral > nav:nth-child(2), */
/* .barra-lateral > div:nth-child(3){ */
    /* border: 2px dotted crimson; */
/* }  */

.mini-barra-lateral{
    width: 80px;
}

.barra-lateral .nombre-pagina{
    border: 0px solid blue; 
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    color: var(--color-texto);
}

.barra-lateral .nombre-pagina ion-icon{
    border: px solid red;
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

.barra-lateral .nombre-pagina i{
    border: px solid red;
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}


.barra-lateral .nombre-pagina img{
    border: 0px solid slateblue;
    min-width: 40px;
    max-height: 40px;
    font-size: 10px;
    cursor: pointer;
}



.barra-lateral .nombre-pagina span{
    border: 0px solid black;
    font-size: 25px;
    margin-left: 5px;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.barra-lateral .nombre-pagina span.oculto{
    opacity: 0;

}
/* boton */
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    margin-bottom: 20px;
    overflow: hidden;
}

.barra-lateral .boton ion-icon{
    border: 0px solid red;
    min-width: 50px;
    font-size: 25px;
}

.barra-lateral .boton i{
    border: 0px solid red;
    min-width: 50px;
    font-size: 25px;
}



.barra-lateral span{
    border: 0px solid blue;
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/* menu de navegacion*/
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
 .barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5PX;

}

.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}


.barra-lateral .navegacion li{
    border: 0px dotted greenyellow;
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion a{
    border: 0px solid black;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    /*background-color: var(--color-barra-lateral);*/
    color: var(--color-texto-menu); 
}

.barra-lateral .navegacion a:hover{
    /* background-color: var(--color-menu-hover); */
    background-color: var(--color-scroll-hover);
    color: var(--color-scroll-hover-texto);
}

.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}

.barra-lateral .navegacion i{
    padding-left: 15px;
    min-width: 50px;
    font-size: 20px;
}




/*linea*/
.barra-lateral .linea{
    background-color: var(--color-linea);
    width: 100%;
    height: 1px;
    margin-top: 15px;
}

/*modo oscuro*/
.barra-lateral .modo-oscuro{
    border: 0px solid red;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.barra-lateral .modo-oscuro .info{
    border: 0px solid black;
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{
    border: 0px solid blue;
    width: 50px;
    font-size: 20px;
}
.barra-lateral .modo-oscuro i{
    border: 2px solid blue;
    width: 50px;
    font-size: 20px;
}


.barra-lateral .modo-oscuro .switch{
    border: 0px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-base);
    border-radius: 50px;
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}
.barra-lateral .modo-oscuro .circulo.prendido{
    left: 15px;
}
/*usuario*/
.barra-lateral .usuario{
    border: 0px solid red;
    width: 100%;
    display: flex;
}

.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
}

.barra-lateral .usuario .info-usuario{
    border: 0px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-mail{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}

.barra-lateral .usuario .email{
    font-size: 13px;
}

.mini-barra-lateral .usuario ion-icon{
    font-size: 20px;
}

.mini-barra-lateral .usuario i{
    font-size: 20px;
    padding-left: 100px;
}


/* MAIN*/
#inbox{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

main{
    margin-left: 260px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
    padding: 20px;
}

.main .nombre-main{
    border: 2px solid blue; 
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    color: rgb(39,205,64);
}




/* media responsive*/
@media (max-height: 500px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}

@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -265px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }

    .menu i:nth-child(2){
       display: none;
   }
   .menu i:nth-child(2){
       display: none;
   }

    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}